.header {
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 44px;
        margin-bottom: 45px;
    }
    
    &__logo-img {
        width: 236px;
        height: 26px;
    }

    &__menu {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .header {
        .nav-list {
            display: none;
        }
        
        &__logo-img {
            width: 168px;
            height: 18px;
        }

        &__menu {
            display: block;
            height: 15px;
        }
    }
}

