.why {
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2C343E;
        border-radius: 10px;
        position: relative;
        margin-bottom: 382px;
        padding-bottom: 286px;
    }
    
    &__heading {
        text-align: center;
        color: #FEFCF7;
        margin-top: 100px;
        margin-bottom: 32px;
    }
    
    &__text {
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;  
        margin-bottom: 86px;
        max-width: 540px;
    }
    
    &__list {
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
    }
    
    &__items {
        width: 350px;
        background: #0E8784;
        border-radius: 8px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    &__wrapper-smaller {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 72px 48px 48px 48px;
        &::before {
            content: "";
            display: inline-block;
            width: 72px;
            height: 72px;
            background-image: url(./../img/coffee-bean.svg);
            background-repeat: no-repeat;
            object-fit: contain;
            margin-bottom: 56px;
        }
    }
    
    &__items-heading {
        text-align: center; 
        color: #FEFCF7;
        margin-bottom: 24px;
    }
    
    &__items-text {
        text-align: center;
        color: #FEFCF7;
    }
    
    &__items-before--img {
        &::before {
            background-image: url(./../img/gift.svg);
        }
    }
    
    &__items-before--img-nd {
        &::before {
            background-image: url(./../img/delivery.svg);
        }
    }
}

@media only screen and (max-width: 1149px) {
    .why {
        
        &__wrapper {
        }
        
        &__heading {
        }
        
        &__text {
        }
        
        &__list {
        }
        
        &__items {
            width: 573px;
            margin-bottom: 24px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        
        &__wrapper-smaller {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 41px 48px 41px 70px;
            &::before {
                width: 56px;
                height: 56px;
                margin-right: 55px;
                margin-bottom: 0;
            }
        }
        
        &__wrapper-boring {
            width: 344px;
            display: flex;
            flex-direction: column;
        }
        
        &__items-heading {
            text-align: start;
        }
        
        &__items-text {
            text-align: start;
        }
    }
    
    .heading--similarities {
        font-size: 32px;
        line-height: 40px;
        
    }
    
    .text--similarities {
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 617px) {
    .why {
        
        &__wrapper {
            margin-bottom: 64px;
            padding-bottom: 633px;
        }
        
        &__heading {
            margin-bottom: 24px;
        }
        
        &__text {
            margin-bottom: 64px;
        }
        
        &__list {
            display: unset;
            transform: translate(0, 50%);
        }
        
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 279px;
            margin-bottom: 24px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        
        &__wrapper-smaller {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 72px 33.5px 51px 33.5px;
            &::before {
                width: 72px;
                height: 72px;
                margin-right: 0;
                margin-bottom: 56px;
            }
        }
        
        &__wrapper-boring {
            width: 212px;
            display: flex;
            flex-direction: column;
        }
        
        &__items-heading {
            text-align: center;
        }
        
        &__items-text {
            text-align: center;
        }
    }
    
    .heading--similarities {
        font-size: 32px;
        line-height: 40px;
        
    }
    
    .text--similarities {
        font-size: 15px;
        line-height: 25px;
    }
}